body{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: lowercase;
    text-decoration: none;
   
}
html,
body {
  margin: 0px;
  height: 100%;
}

ul{
    list-style-type: none;
    padding-top: 128px;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    
}

h1{
    color:#464646;
    font-weight: bold;
}

h2{
    color: #464646;
}


#header{
    margin: 0px;
    padding: 30px;
    width: 100vw;
    background-color: rgb(228, 228, 228);

}

#bodyDiv{
    background-color:lightgrey;
    width: 100vw;


}
